<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>consumer_key</key>
	<string>AUmlPHltK66wPDCGUvYXig</string>
	<key>consumer_secret</key>
	<string>I2zP6ZeIrHxxQENmzXLu0Lyx7rEsdpPwxpMKDr6Vk</string>
</dict>
</plist>
